@import "tailwindcss";

@plugin "tailwindcss-debug-screens" {
  classname: "debug-screens";
  position: "buttom, right";
  prefix: "";
}

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

@theme {
  --font-cursive: '"Corinthia", "Arial"';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@custom-variant tall-narrow {
  @media (min-width: 1200px) and (max-height: 800px) {
    & {
      @slot;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.frame {
  --s: 10px;
  padding: var(--s);
  border: calc(2 * var(--s)) solid transparent;
  background: conic-gradient(
    from 90deg at 1px 1px,
    #0000 25%,
    rgba(0, 0, 0, 0.15) 0
  );
}

.kerning-none {
  font-kerning: none;
}

.rotate-svg {
  animation: rotate 70s linear infinite;
  transform-origin: center center;
}

.blank-with-lines {
  border: solid rgba(0, 0, 0, 0.08) 1px;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.15) 10px,
    rgba(0, 0, 0, 0.15) 11px
  );
  background-size: 15px 15px;
}

.blank-with-dots {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.2) 1.5px,
    transparent 1.5px
  );
  background-size: 25px 25px;
  background-position: center;
}

.no-border {
  border-top: solid 0px !important;
  border-bottom: solid 0px !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::selection {
  background: rgba(0, 0, 0, 0.2);
}

.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noscrollbar ::-webkit-scrollbar {
  display: none;
}

.vertical {
  writing-mode: sideways-lr;
  animation: movedown 10s linear infinite;
}

.horizontal {
  animation: moveright 10s linear infinite;
}

.vertical-fast {
  writing-mode: sideways-lr;
  animation: movedown 5s linear infinite;
}

.horizontal-fast {
  animation: moveright 5s linear infinite;
}

@keyframes moveright {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-5%);
  }
}

@keyframes movedown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(5%);
  }
}
