@import "tailwindcss";

@plugin "tailwindcss-debug-screens" {
  classname: "debug-screens";
  position: "buttom, right";
  prefix: "";
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --font-cursive: '"Corinthia", "Arial"';

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.kerning-none {
  font-kerning: none;
}

.screen-4-main-content {
  transform: translateX(-120%);
}

@media only screen and (max-width: 1200px) {
  .screen-4-main-content {
    transform: translateX(0%);
  }
}
